<div class="container find-rides">
    <h2>Find Available Seats</h2>
</div>


<% trips.forEach((trip) => { %>
    <div class="trip-post">

        <p>
            Destination:
            <%= trip.destination %>
        </p>

        <br>

        <p>
            Departure Date:
            <%=trip.departureDate%>
        </p>

        <br>

        <p>
            Pickup Location:
            <%=trip.pickupLocation%>
        </p>

        <br>

        <p>
            Seats Available:
            <%=trip.seats%>
        </p>

        <br>
        <p>
            Gas Estimate:
            <%=trip.gas%>
        </p>


        <form action="/<%=trip._id%>/add" method="post">
            <button class="buttonClicked"> Claim this ride </button>
        </form>



        <hr>
    </div>
    <% }) %>